In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_excel('d_traj.xlsx',header=0)

In [7]:
df.describe()

              index          temp         humid
count  50781.000000  50781.000000  50781.000000
mean   25390.000000     52.040000     49.925626
std    14659.356347     18.728714     22.653642
min        0.000000      8.378000      7.203333
25%    12695.000000     37.688000     31.466667
50%    25390.000000     49.591999     47.283333
75%    38085.000000     66.571999     66.126671
max    50780.000000    100.802002    100.000000

In [20]:
df

        index       temp      humid         load
0         0.0  72.667999  37.773335  7785.736328
1         1.0  72.835999  38.936665  7866.826172
2         2.0  69.799995  43.570000  8176.109375
3         3.0  68.767998  46.483334  7982.647461
4         4.0  68.798004  43.903332  8006.287109
...       ...        ...        ...          ...
121708    NaN        NaN        NaN   440.685211
121709    NaN        NaN        NaN   440.685211
121710    NaN        NaN        NaN   440.685211
121711    NaN        NaN        NaN   440.685211
121712    NaN        NaN        NaN   440.685211

[121713 rows x 4 columns]

In [42]:
data = df
a = []
counter = 0
total = 0
for i in data:
    if i%1 ==0:
        a.append['temp']
        counter +=1
    elif:
        
    total +=1

TypeError: not all arguments converted during string formatting

In [39]:
a = 48%14
print(a)

6

In [41]:
len(df['index'])

121713